@import './variables';
@import 'vuetify/styles/main.sass';
@import './override';
@import './text-utilities';
@import './layout/container';
@import './layout/sidebar';
@import './layout/topbar';

@import './components/VButtons';
@import './components/VCard';
@import './components/VField';
@import './components/VInput';
@import './components/VNavigationDrawer';
@import './components/VShadow';
@import './components/VTextField';
@import './components/VTabs';

@import './pages/dashboards';

@import 'vue3-perfect-scrollbar/style.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: 'PIXymbols Very Loose W01 Reg';
  src:
    url('https://db.onlinewebfonts.com/t/6da23fec9663ee7743fe666a6ae8800e.eot');
  src:
    url('https://db.onlinewebfonts.com/t/6da23fec9663ee7743fe666a6ae8800e.eot?#iefix') format('embedded-opentype'),
    url('https://db.onlinewebfonts.com/t/6da23fec9663ee7743fe666a6ae8800e.woff2') format('woff2'),
    url('https://db.onlinewebfonts.com/t/6da23fec9663ee7743fe666a6ae8800e.woff') format('woff'),
    url('https://db.onlinewebfonts.com/t/6da23fec9663ee7743fe666a6ae8800e.ttf') format('truetype'),
    url('https://db.onlinewebfonts.com/t/6da23fec9663ee7743fe666a6ae8800e.svg#PIXymbols Very Loose W01 Reg') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}